/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./img/bodyback.jpg);
    background-size: contain;
}

.navbar {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    z-index: 500;
}

.navbar-brand {
    color: rgb(255 251 251 / 90%) !important;
}

.nav-link {
    color: white !important;
}

a {
    font-size: small !important;
    margin-left: 1vh;
    margin-right: 1vh;
}

#carouselMain img {
    height: 94vh;
}


.btn-del-carrito {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgba(4, 4, 4, 0.075);
    border-radius: 4px;
    border-color: black !important;
    display: block;
}

.btn-del-carrito:hover {
    background-position: right center !important;
    color: rgba(0, 0, 0, 0.214);
    text-decoration: none;
}


.bodyStyles {
    background-color: rgb(255, 255, 255);
}

.card-img-top {
    max-height: 100%;
}

.img-thumbnail {
    border: none !important;
}

.footerBc {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

#contenedorClima {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}

.carousel-caption {
    padding-bottom: 35vh !important;
}

.text-white {
    color: white;
}

#contenedorProductos img {
    filter: grayscale();
    transition: filter 1.4s ease-in-out;
}

#contenedorProductos:hover img {
    filter: none;
}

#contenedorClima {
    background-image: url(./img/climaback.jpg);
    background-size: cover;
}


.btn-add {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    font-size: medium!important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: rgba(20, 20, 20, 0.692);
    box-shadow: 0 0 20px rgba(27, 27, 27, 0.274);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.527) !important;
    display: block;
}


.btn-add:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.btn-comprar {
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.75s!important;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgba(12, 219, 174, 0.13);
    border-radius: 10px;
    border-color: #023b0a!important;
    display: block;
}

.btn-comprar:hover {
    background-position: right center;
    color: rgb(10, 10, 10);
    text-decoration: none;
}